/* 
    Document   : newcss
    Created on : May 17, 2013, 2:29:07 PM
    Author     : Дмитрий
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
h1{
    color: #FF0000;
}

body{
    background-color: #E9E4E2;
}
